backend/WebApplication2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/WebApplication2/obj/Debug/net8.0/ApiRubricaDipartimentale.AssemblyInfoInputs.cache
backend/WebApplication2/obj/Debug/net8.0/ApiRubricaDipartimentale.AssemblyInfo.cs
backend/WebApplication2/obj/Debug/net8.0/ApiRubricaDipartimentale.GeneratedMSBuildEditorConfig.editorconfig
backend/WebApplication2/obj/Debug/net8.0/ApiRubricaDipartimentale.GlobalUsings.g.cs
