<div class="selectItemBar" style="margin: -2px auto 14px; padding: 2px;" (click)="selectItem()">
    <!-- <button class="test123 button-rail" mat-mini-fab aria-label="Menu icon" [ngClass]="changeClassSelected()" (click)="clickAction()"> -->
    <button class="test123 button-rail" mat-mini-fab aria-label="Menu icon" [ngClass]="changeClassSelected()">
        <mat-icon class="material-symbols-outlined" style="color: #1c1d06;">{{dataIN.icon}}</mat-icon>
    </button>
    <!-- margin dinamico in base al fatto se viene o meno selezionato -->
    <div class="selectItemBar" style="margin-top: -8px;">
        <label [ngClass]="changeLabelSelected()">{{dataIN.label}}</label>
    </div>
</div>