.button-notSelected {
    box-shadow: none;
    width: 56px;
    height: 32px;
    /* margin-bottom: 4px; */
    --mdc-fab-container-shape: 24px;
    background-color: transparent;
    /* --mdc-fab-container-color: transparent;

    &:hover, &:focus {
        --mdc-fab-container-color: #49454E;
        background-color: #49454E;
        opacity: 0.08;
    }
    &::before {
        opacity: 0.08 !important;
        --mdc-fab-container-color: #49454E !important;
        color: aqua;
    }*/
}

.button-selected {
    box-shadow: none;
    width: 56px;
    height: 32px;
    /* margin-bottom: 4px; */
    --mdc-fab-container-shape: 24px;
    margin-bottom: 8px;
    background-color: #FDD835;
    /* opacity: 0.2; */
    /* --mdc-fab-container-color: #49454E; */
    /* background-color: #49454E; */

    /* font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24 */
}

.label-navbar {
    font-size: 12px;
    color: #1c1d06;
}

.label-notSelected {
    font-weight: 500;
}

.label-selected {
    font-weight: 700;
}

.selectItemBar {
    cursor: pointer;
}

.test123 {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}

.button-rail:hover {
    background-color: #FF7043;
}

.button-selected::before {
    opacity: 0.2;
    --mdc-fab-container-color: #49454E;
    background-color: transparent;
    /* background-color: #49454E; */
}

/* .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
} */