<div class="text-center"
    style="text-align: center; display: flex;flex-direction: column;justify-content: space-between; height: 100%;">
    <div style="margin: 16px 0px">
        <button mat-icon-button aria-label="Menu icon" style="height: 3em;width: 3em;">
            <img src="Img/logoVVF.png" alt="logoVVF" style="height: 100%; width: 100%;">
            <!-- <mat-icon class="material-symbols-outlined">menu</mat-icon> -->
        </button>
    </div>
    <div>
        <vvfrubrica-item-button-bar *ngFor="let data of allData | async" [dataIN]="data"></vvfrubrica-item-button-bar>
    </div>
    <div style="margin: 8px 0px 24px 0px">
        <button mat-icon-button aria-label="Info icon" style="color: #FDD835;">
            <mat-icon class="material-symbols-outlined">info</mat-icon>
        </button>
    </div>
    <!-- <div style="margin: 24px 0px">
        <button mat-icon-button aria-label="Info icon">
            <mat-icon class="material-symbols-outlined">info</mat-icon>
          </button>
    </div> -->
</div>
<!-- <div class="d-flex flex-column flex-shrink-0 p-1  vh-100" style="width: 5rem; background-color: #ac1a17;">
    <a href="/" class="text-white text-decoration-none ms-2 mt-2">
        <span class="fs-4"><img src="Img/logoVVF.png" width="50px" height="51px"></span>
    </a>
    <ul class="nav nav-pills flex-column mx-auto my-auto">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link text-white" aria-current="page">
                <fa-icon [icon]="faLandmark" size="2x" title="Uffici Centrali"></fa-icon>
            </a>
        </li>
        <li>
            <a mat-button routerLink="/sedi" class="nav-link text-white">
                <fa-icon [icon]="faBuilding" size="2x" title="Sedi VVF"></fa-icon>
            </a>
        </li>
        <li>
            <a mat-button routerLink="/sedi-periferiche" class="nav-link text-white">
                <fa-icon [icon]="faBuilding" size="2x" title="Sedi VVF"></fa-icon>
            </a>
        </li>
        <li>
            <a mat-button routerLink="/login" class="nav-link text-white">
                <fa-icon [icon]="faUserRegular" size="2x"></fa-icon>
            </a>
        </li>
    </ul>
</div> -->