<div class="text-center"
    style="text-align: center; display: flex;flex-direction: column;justify-content: space-between; height: 100%;">
    <div style="margin: 16px 0px">
        <button mat-icon-button aria-label="Menu icon" style="height: 3em;width: 3em;" (click)="navigateToHome()">
            <img src="Img/logoVVF.png" alt="logoVVF" style="height: 100%; width: 100%;">
        </button>
    </div>
    <div>
        <vvfrubrica-item-button-bar *ngFor="let data of allData | async" [dataIN]="data"></vvfrubrica-item-button-bar>
    </div>
    <div style="margin: 8px 0px 24px 0px">
        <button mat-icon-button aria-label="Info icon" style="color: #FDD835;">
            <mat-icon class="material-symbols-outlined">info</mat-icon>
        </button>
    </div>
</div>