
<div class="row">
    <div class="col">
        <h1 class="text-center fs-3">Gestione Utenti</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col m-3">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th class="text-end">
                            <button type="button" class="btn btn-danger px-3" title="Inserisci utente"
                                (click)="onAddClick()">
                                <fa-icon [icon]="faPlusCircle" size="1x"></fa-icon>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersList??[]">
                        <td>{{user.id}} </td>
                        <td>{{user.username}}</td>
                        <td class="text-end">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-danger px-3" title="Modifica utente"
                                    (click)="onEditClick(user)">
                                    <fa-icon [icon]="faEdit" size="1x"></fa-icon>
                                </button>
                                <button type="button" class="btn btn-danger px-3" title="Cancella utente"
                                    (click)="onDelClick(user.id)">
                                    <fa-icon [icon]="faTrashAlt" size="1x"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
