<div class="divCardSedi" [ngStyle]="{'background-color': itemDst.coloreSfondo}">
    <div class="divCardButtonBar">
        <ul class="nav nav-pills flex-column mx-auto my-auto" *ngIf="visualizeActionBar">
            <li class="nav-item">
                <fa-icon [icon]="faPlusCircle" size="1x" (click)="onAddClick()"></fa-icon>
            </li>
            <li class="nav-item">
                <fa-icon [icon]="faEdit" size="1x" (click)="onEditClick()"></fa-icon>
            </li>
            <li class="nav-item">
                <fa-icon [icon]="faTrashAlt" size="1x" (click)="onDelClick()"></fa-icon>
            </li>
        </ul>
    </div>
    <section class="divCardSediContent"
        [ngStyle]='{background: colorSelected(itemDst.coloreSfondo, (codiceUfficioSelezionato$ | async) == itemDst.codiceUfficio)}'>
        <h2 class="handle" (click)="leggiSottoAlbero()" (keyup)="leggiSottoAlbero()">
            <label for="{{itemDst.codiceUfficio}}" style="max-width: 90%;">{{itemDst.nomeUfficio}}<br>
                <span class="smallLabelFont">{{itemDst.nomeTitolare}}</span>
            </label>
        </h2>
        <div *ngIf="idSelectedOfficeComponent$ | async">
            <div *ngFor="let office of elencoUfficiSelezionati$ | async">
                <p (keyup)="onClickUfficioSelezionato()" (click)="onClickUfficioSelezionato()"
                    [ngStyle]="{
                        'border-color': elaborateBorder(),
                        background: colorSelected(office.coloreSfondo, (codiceUfficioSelezionato$ | async) == office.codiceUfficio),
                        'font-size': '1.1rem'
                        }"
                    *ngIf="office?.codiceUfficioSuperiore">
                    {{office?.nomeUfficio}}
                </p>
            </div>
        </div>
    </section>
</div>