<form style="margin-right: 10px;margin-left: 5px;">
    <div class="toggle">
        <input type="radio" [(ngModel)]="checkTopRightSelected" name="checkTopRight" id="idRadioUfficio"
            value="ufficiDipendenti" (change)="onButtonClick()" />
        <label for="idRadioUfficio">Uffici dipendenti</label>
        <!-- <input type="radio" [(ngModel)]="checkTopRightSelected" name="checkTopRight" id="idRadioContatti"
            value="contatti" (change)="onButtonClick()" />
        <label for="idRadioContatti">Contatti</label> -->
        <input type="radio" [(ngModel)]="checkTopRightSelected" name="checkTopRight" id="idRadioComponenti"
            value="componenti" (change)="onButtonClick()" />
        <label for="idRadioComponenti">Contatti</label>
        <input type="radio" [(ngModel)]="checkTopRightSelected" name="checkTopRight" id="idRadioDescizione"
            value="descrizione" (change)="onButtonClick()" />
        <label for="idRadioDescizione">Descrizione</label>
    </div>

    <!-- <div class="btn-group m-0 p-2 border-rounded" style="border-radius: 16px;">
        <button class="btn btn-danger">Uffici dipendenti</button>
        <button class="btn btn-danger">Contatti</button>
    </div> -->
</form>
